<hgroup>
    <%=image_tag( "logo.png")%>
</hgroup>
    <%=form_for :session, url: sign_in_path do |f| %>
        <div class="group">
            <%=f.email_field :email %>
                <label class="label">Email</label>
        </div>
        <div class="group">
            <%=f.password_field :password, autocomplete: "off", maxlength: "4" %>
                <label class="label">Senha</label>
        </div>
        <div class="actions">
        <%=f.submit "Entrar", class: "button buttonBlue" %>
        </div>
  <% end %>

<p align="center">Não é usuário?
    <%=link_to "Cadastre-se", new_user_path %>
</p>
